@import './reset.css';
@import './common.css';

/*
    헤더+푸터+큰틀
*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
    transform: translateY(-100%);
    transition: transform .3s,color .5s;
}
#header.hide{
    transform: translateY(0);
}
#header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
#header .logo{
    width: 110px;
}
#header .logo a{
    display: inline-block;
    padding: 17px 0;

    color: #fff;
    text-decoration: none;
    transition: color .5s;
}
#header .logo img{
    width: 100%;
    filter: brightness(0) invert(1);
    transition: filter .5s;
}
header.dark .logo a img{
    filter: brightness(0) invert(0) !important;
}
header.dark .group_site .site_item:nth-child(1) a,
header.dark .group_site .site_item:nth-child(2) a{
    color: #000 !important;
}
header.dark .group_site button{
    color: #000;
}
header.dark .group_site svg{
    filter: invert(1);
}
#header .group_site{
    display: flex;
    align-items: center;
    position: relative;    
}
#header .group_site .site_list{
    display: flex;
}
#header .group_site .site_list .site_item a{
    display: inline-block;
    padding: 23px 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;

    color: #fff;
    text-decoration: none;
    transition: color .5s;
}

#header .lang_area{
    position: relative;
    cursor: pointer;
}
#header .lang_area .lang_desc{
    display: flex;
    align-items: center;
    padding: 20px 0 18px 25px;
}
#header .lang_area .lang_desc .lang_btn{
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}
#header .lang_area .lang_list{
    position: absolute;
    right: 0;
    top: 53px;
    text-align: center;
    background-color: #000;
    border: 1px solid #5a5a5a;
    border-radius: 6px;
    transition: all .3s;

    opacity: 0;
    visibility: hidden;
}
#header .lang_area .lang_list.on{
    opacity: 1;
    visibility: visible;
}
.lang_list.on .lang_item:nth-child(1) a{
    opacity: 1 !important;
}
#header .lang_area .lang_list .lang_item a{
    display: block;
    padding: 2px 14px 4px 13px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 600;
    padding-top: 6px;
    padding-bottom: 2px;

    opacity: 0.2;
}
#footer{
    background: #000;
    position: relative;
    color: #fff;
    padding: 0 100px;
}
#footer .footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0;
}
.footer_left .footer_desc address{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 10px;
}
.footer_left .footer_desc .copy{
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    font-size: 16px;
}
.footer_right img{
    width: 220px;
    display: block;
}

/* 카드 공통부분 시작 */
.slide_container{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    overflow: hidden;
}
.group_slide{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
}
.slide_inner{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.slide_title{
    /* flex-shrink: 0; */
    padding: 0 160px 0 0;
    white-space: nowrap;
}
.slide_title h3{
    color: #fff;
    transition: color .5s;
    font-size: 72px;
    line-height: 1.28;
    font-weight: 700;
}

.slide_content{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.slide_content .slide_box{
    flex-shrink: 0;
}
.slide_content .card_list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.slide_content .card_list .card_item{
    position: relative;
    width: 400px;
    height: 540px;
    margin-right: 40px;
    flex-shrink: 0;
}
.slide_content .card_item .card_item_box{
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    padding: 34px;
    color: #fff;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}
.slide_content .card_item .card_item_box,
.slide_content .card_item .card_item_box::before{
    content: "";
    display: block;
    transition: .5s;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.slide_content .card_item_box .card_top{
    position: relative;
    min-height: 110px;
}
.slide_content .card_top .card_title{
    font-weight: 600;
    margin-right: 46px;
    color: #fff;
    word-break: break-word;
    line-height: 1;
}
.slide_content .card_top .card_title strong{
    font-size: 50px;    
}
.slide_content .card_top .card_title .card_label{
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 30px;
    line-height: .67;
    color: #fff;
    text-align: right;
    font-family: Archivo;
    height: 100%;
    width: 50%;
}

.slide_content .card_item_box .card_content{
    position: relative;
}
.slide_content .card_item_box .card_content img{
    width: 100%;
}

.slide_content .card_item_box .card_bottom{
    position: absolute;
    left: 34px;
    right: 34px;
    bottom: 34px;
    margin-top: auto;
    padding-right: 40px;
}

.slide_content .card_bottom .card_info_box .card_desc{
    display: inline-block;
    font-size: 24px;
    line-height: 1.67;
    font-weight: 700;
    margin-left: 9px;
}
.slide_content .card_bottom .card_ic{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: block;
    background: url(../images/contract-icon.png) no-repeat 50% / cover;
}
.card_info_box{
    display: flex;
    align-items: center;
}
.slide_content .card_item .item_bg_1{
    background: #e657af;
}
.slide_content .card_item .item_bg_2{
    background-color: #0049ff;
}
.slide_content .card_item .item_bg_3{
    background: url(../images/image-sec-3-3.png) no-repeat top / cover;
}
.slide_content .card_item .item_bg_4{
    background: #00bf41;
}
/* 카드 공통부분 끝 */